PORT=8080
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.xxxxx.mongodb.net/tecmiratti?retryWrites=true&w=majority
MONGODB_DATABASE=tecmiratti
MONGODB_POOL_MAX_SIZE=50
MONGODB_POOL_MIN_SIZE=5
MONGODB_POOL_MAX_WAIT_MS=10000
MONGODB_POOL_MAX_IDLE_MS=60000
MONGODB_POOL_MAX_LIFE_MS=300000
JWT_SECRET=change_this_secret_key_for_production_1234567890
JWT_EXPIRATION_MS=86400000
